<div clickOutside (clickOutside)="checkEndDate()" class="mydrp" [ngStyle]="{'border': opts.inline ? 'none' : null}">    
    <div class="myflex">
        <div (click)="openBtnClicked()" class="calendars-container" [ngStyle]="modalOpen && {'background': 'rgb(245, 245, 245)'}" style="display: flex;">
            <div class="flax" style="border-right: 1px solid #d7d7d7;">
                <button type="button" class="btnpicker" [attr.aria-label]="opts.ariaLabelOpenCalendar" [ngClass]="{'btnpickerenabled': !opts.componentDisabled, 'btnpickerdisabled': opts.componentDisabled}" [disabled]="opts.componentDisabled">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                        <g id="Group_9" data-name="Group 9" transform="translate(-725.835 -366.199)">
                          <path id="Path_35" data-name="Path 35" d="M742.336,367.885H739.9v-1.123a.563.563,0,0,0-1.127,0v1.123H735.4v-1.123a.563.563,0,0,0-1.126,0v1.123H730.9v-1.123a.561.561,0,1,0-1.123,0v1.123h-2.439a1.5,1.5,0,0,0-1.5,1.5V382.7a1.5,1.5,0,0,0,1.5,1.5h15a1.5,1.5,0,0,0,1.5-1.5V369.385a1.5,1.5,0,0,0-1.5-1.5Zm.373,14.812a.374.374,0,0,1-.373.376h-15a.374.374,0,0,1-.373-.376V369.385a.374.374,0,0,1,.373-.374h2.439v1.127a.561.561,0,0,0,1.123,0v-1.127h3.375v1.127a.563.563,0,0,0,1.126,0v-1.127h3.372v1.127a.563.563,0,0,0,1.127,0v-1.127h2.439a.374.374,0,0,1,.373.374Zm0,0" fill="#46c195"/>
                          <rect id="Rectangle_9" data-name="Rectangle 9" width="2.249" height="1.686" transform="translate(729.774 372.95)" fill="#46c195"/>
                          <rect id="Rectangle_10" data-name="Rectangle 10" width="2.249" height="1.686" transform="translate(729.774 375.762)" fill="#46c195"/>
                          <rect id="Rectangle_11" data-name="Rectangle 11" width="2.249" height="1.686" transform="translate(729.774 378.574)" fill="#46c195"/>
                          <rect id="Rectangle_12" data-name="Rectangle 12" width="2.249" height="1.686" transform="translate(733.709 378.574)" fill="#46c195"/>
                          <rect id="Rectangle_13" data-name="Rectangle 13" width="2.249" height="1.686" transform="translate(733.709 375.762)" fill="#46c195"/>
                          <rect id="Rectangle_14" data-name="Rectangle 14" width="2.249" height="1.686" transform="translate(733.709 372.95)" fill="#46c195"/>
                          <rect id="Rectangle_15" data-name="Rectangle 15" width="2.249" height="1.686" transform="translate(737.648 378.574)" fill="#46c195"/>
                          <rect id="Rectangle_16" data-name="Rectangle 16" width="2.249" height="1.686" transform="translate(737.648 375.762)" fill="#46c195"/>
                          <rect id="Rectangle_17" data-name="Rectangle 17" width="2.249" height="1.686" transform="translate(737.648 372.95)" fill="#46c195"/>
                        </g>
                      </svg>
                </button>
                <p style="text-transform: capitalize">{{beginDate.day}} {{opts.monthLabels[beginDate.month]}} {{beginDate.year}} </p>
            </div>
            <div class="flax">
                <button type="button" class="btnpicker" [attr.aria-label]="opts.ariaLabelOpenCalendar" [ngClass]="{'btnpickerenabled': !opts.componentDisabled, 'btnpickerdisabled': opts.componentDisabled}" [disabled]="opts.componentDisabled">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                        <g id="Group_9" data-name="Group 9" transform="translate(-725.835 -366.199)">
                          <path id="Path_35" data-name="Path 35" d="M742.336,367.885H739.9v-1.123a.563.563,0,0,0-1.127,0v1.123H735.4v-1.123a.563.563,0,0,0-1.126,0v1.123H730.9v-1.123a.561.561,0,1,0-1.123,0v1.123h-2.439a1.5,1.5,0,0,0-1.5,1.5V382.7a1.5,1.5,0,0,0,1.5,1.5h15a1.5,1.5,0,0,0,1.5-1.5V369.385a1.5,1.5,0,0,0-1.5-1.5Zm.373,14.812a.374.374,0,0,1-.373.376h-15a.374.374,0,0,1-.373-.376V369.385a.374.374,0,0,1,.373-.374h2.439v1.127a.561.561,0,0,0,1.123,0v-1.127h3.375v1.127a.563.563,0,0,0,1.126,0v-1.127h3.372v1.127a.563.563,0,0,0,1.127,0v-1.127h2.439a.374.374,0,0,1,.373.374Zm0,0" fill="#46c195"/>
                          <rect id="Rectangle_9" data-name="Rectangle 9" width="2.249" height="1.686" transform="translate(729.774 372.95)" fill="#46c195"/>
                          <rect id="Rectangle_10" data-name="Rectangle 10" width="2.249" height="1.686" transform="translate(729.774 375.762)" fill="#46c195"/>
                          <rect id="Rectangle_11" data-name="Rectangle 11" width="2.249" height="1.686" transform="translate(729.774 378.574)" fill="#46c195"/>
                          <rect id="Rectangle_12" data-name="Rectangle 12" width="2.249" height="1.686" transform="translate(733.709 378.574)" fill="#46c195"/>
                          <rect id="Rectangle_13" data-name="Rectangle 13" width="2.249" height="1.686" transform="translate(733.709 375.762)" fill="#46c195"/>
                          <rect id="Rectangle_14" data-name="Rectangle 14" width="2.249" height="1.686" transform="translate(733.709 372.95)" fill="#46c195"/>
                          <rect id="Rectangle_15" data-name="Rectangle 15" width="2.249" height="1.686" transform="translate(737.648 378.574)" fill="#46c195"/>
                          <rect id="Rectangle_16" data-name="Rectangle 16" width="2.249" height="1.686" transform="translate(737.648 375.762)" fill="#46c195"/>
                          <rect id="Rectangle_17" data-name="Rectangle 17" width="2.249" height="1.686" transform="translate(737.648 372.95)" fill="#46c195"/>
                        </g>
                      </svg>
                </button>
                <p style="text-transform: capitalize;">{{endDate.day}} {{opts.monthLabels[endDate.month]}} {{endDate.year}}</p>
            </div>
        </div>
    </div>  
    <div  class="selector" #selectorEl *ngIf="showSelector||opts.inline" [ngStyle]="{'height' : opts.selectorHeight}" [mydrpfocus]="opts.inline?'0':'1'" [ngClass]="{'inline': opts.inline, 'alignselectorright': opts.alignSelectorRight, 'selectorarrow': opts.showSelectorArrow&&!opts.inline, 'selectorarrowleft': opts.showSelectorArrow&&!opts.alignSelectorRight&&!opts.inline, 'selectorarrowright': opts.showSelectorArrow&&opts.alignSelectorRight&&!opts.inline}" (keyup)="onCloseSelector($event)" tabindex="0">
        <div class="titlearea" *ngIf="false"> <!--opts.showSelectDateText-->
            <div class="titleareatxt">{{titleAreaText!==''?titleAreaText:opts.selectBeginDateTxt}}</div>
        </div>
        <table class="header">
            <tr>
                <td>
                    <div style="float:left">
                        <div class="headerbtncell"><button type="button" class="headerbtn mydrpicon icon-mydrpleft" [attr.aria-label]="opts.ariaLabelPrevMonth" (click)="onPrevMonth()" [disabled]="prevMonthDisabled" [ngClass]="{'headerbtnenabled': !prevMonthDisabled, 'headerbtndisabled': prevMonthDisabled}"></button></div>
                    </div>
                </td>
                <td>
                    <p>{{visibleMonth.monthTxt.toUpperCase()}} - {{visibleMonth.year}}</p>
                </td>
                <td>
                    <div style="float:right">
                        <div class="headerbtncell"><button type="button" class="headerbtn mydrpicon icon-mydrpright" [attr.aria-label]="opts.ariaLabelNextMonth" (click)="onNextMonth()" [disabled]="nextMonthDisabled" [ngClass]="{'headerbtnenabled': !nextMonthDisabled, 'headerbtndisabled': nextMonthDisabled}"></button></div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="caltable" *ngIf="!selectMonth&&!selectYear" [ngStyle]="{'height': opts.showSelectDateText?'calc(100% - 54px)':'calc(100% - 30px)'}">
            <thead><tr><th class="weekdaytitle weekdaytitleweeknbr" *ngIf="opts.showWeekNumbers&&opts.firstDayOfWeek==='mo'">#</th><th class="weekdaytitle" scope="col" *ngFor="let d of weekDays">{{d.toUpperCase()}}</th></tr></thead>
            <tbody>
                <tr *ngFor="let w of dates">
                    <td class="daycell daycellweeknbr" *ngIf="opts.showWeekNumbers&&opts.firstDayOfWeek==='mo'">{{w.weekNbr}}</td>
                    <td class="daycell" *ngFor="let d of w.week" [ngClass]="{'currmonth':d.cmo===currMonthId&&!d.disabled, 'range': isInRange(d)||d.range, 'disabled': d.disabled}" (click)="!d.disabled && onCellClicked(d);$event.stopPropagation()" (keydown)="onCellKeyDown($event, d)" (mouseenter)="onCellMouseEnter(d)" (mouseleave)="onCellMouseLeave()" tabindex="0">
                        <div class="datevalue" [ngClass]="{'prevmonth':d.cmo===prevMonthId, 'selecteddaybegin':beginDate.day===d.dateObj.day&&beginDate.month===d.dateObj.month&&beginDate.year===d.dateObj.year, 'selecteddayend':endDate.day===d.dateObj.day&&endDate.month===d.dateObj.month&&endDate.year===d.dateObj.year, 'currmonth':d.cmo===currMonthId, 'nextmonth':d.cmo===nextMonthId, 'sunday':d.dayNbr===0&&opts.sunHighlight}">
                            <span [ngClass]="{'markcurrday':d.currDay&&opts.markCurrentDay, 'sundayDim': opts.sunHighlight && d.dayNbr === 0 && (d.cmo===prevMonthId || d.cmo===nextMonthId || d.disabled)}">{{d.dateObj.day}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="monthtable" *ngIf="selectMonth" [ngStyle]="{'height': opts.showSelectDateText?'calc(100% - 54px)':'calc(100% - 30px)'}">
            <tbody>
                <tr *ngFor="let mr of months">
                    <td class="monthcell tablesinglemonth" [ngClass]="{'selectedmonth': m.selected, 'disabled': m.disabled}" *ngFor="let m of mr" (click)="!m.disabled&&onMonthCellClicked(m);$event.stopPropagation()" (keydown)="onMonthCellKeyDown($event, m)" tabindex="0">
                        <div class="monthvalue" [ngClass]="{'markcurrmonth':m.currMonth&&opts.markCurrentMonth}">{{m.name}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="yeartable" *ngIf="selectYear" [ngStyle]="{'height': opts.showSelectDateText?'calc(100% - 54px)':'calc(100% - 30px)'}">
            <tbody>
                <tr>
                    <td colspan="5" class="yearchangebtncell" (click)="$event.stopPropagation()">
                        <button type="button" class="yearchangebtn mydrpicon icon-mydrpup" (click)="onPrevYears($event, years[0][0].year)" [disabled]="prevYearsDisabled" [ngClass]="{'yearchangebtnenabled': !prevYearsDisabled, 'yearchangebtndisabled': prevYearsDisabled}"></button>
                    </td>
                </tr>
                <tr *ngFor="let yr of years">
                    <td class="yearcell tablesingleyear" [ngClass]="{'selectedyear': y.selected, 'disabled': y.disabled}" *ngFor="let y of yr" (click)="!y.disabled&&onYearCellClicked(y);$event.stopPropagation()" (keydown)="onYearCellKeyDown($event, y)" tabindex="0">
                        <div class="yearvalue" [ngClass]="{'markcurryear':y.currYear&&opts.markCurrentYear}">{{y.year}}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="yearchangebtncell" (click)="$event.stopPropagation()">
                        <button type="button" class="yearchangebtn mydrpicon icon-mydrpdown" (click)="onNextYears($event, years[0][0].year)" [disabled]="nextYearsDisabled" [ngClass]="{'yearchangebtnenabled': !nextYearsDisabled, 'yearchangebtndisabled': nextYearsDisabled}"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
